[submodule ".agent"]
	path = .agent
	url = git@github.com:caffeine-js/agent-guide.git
[submodule "scripts/update-agent"]
	path = scripts/update-agent
	url = git@github.com:caffeine-js/cli.caffeine.update-agent.git
[submodule "scripts/add-husky"]
	path = scripts/add-husky
	url = git@github.com:caffeine-js/cli.caffeine.install-husky.git
[submodule "scripts/add-agent"]
	path = scripts/add-agent
	url = git@github.com:caffeine-js/cli.caffeine.add-agent.git
